/* App.css */

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-nav ul {
  display: flex;
  list-style: none;
  background-color: #191414;
  padding: 15px;
  margin: 0;
}

.app-nav ul li {
  margin-right: 20px;
}

.app-nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

.app-nav ul li a:hover {
  text-decoration: underline;
}

.content {
  flex: 1; /* Ensures content takes up available space */
  padding: 20px;
}

footer {
  margin-top: auto; /* Pushes footer to bottom */
}
